body {
  color: blue;
}

#korokBackground {
  position:absolute;
  z-index:0;
  max-height:1000px;
}

#korokBody {
  position:absolute;
  z-index:1;
  max-height:1000px;
}

#korokHandAccessory {
  position:absolute;
  z-index:2;
  max-height:1000px;
}